{%extends "blog/base.html"%}
{%block content%}
    <h1>About page</h1>
    <p>Welcome to my web app! I'm a freshman at CU Denver, pursuing a double major in Computer Science and Economics. I love programming - and when I am not doing coding, I love playing chess and other board games with friends.<br><br>

        
        I am also a Colorado native. I grew up in the small city of Golden and currently now live in Denver.<br>
        
        Feel free to navigate through my web app and explore what I've worked on! If you have any questions or want to connect, feel free to reach out. </p>
{%endblock content%}